*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* Кнопки */
.button {
  color: inherit;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  width: 100%;
  gap: 30px;
  flex-direction: row;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  display: flex;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.content__list-container {
  overflow-y: auto;
  height: 300px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding: 1px 3px 3px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content__card-link:hover {
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  height: 103px;
  min-width: 194px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 196px;
  height: 103px;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  max-height: 3em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: start;
  min-height: 54px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:hover) {
  cursor: pointer;
}

.search-form__label:has(:active) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #fff;
  width: 225px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 8px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__label-text {
  line-height: 100%;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:hover ~ .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2.5px;
}

.search-form__submit-button {
  padding: 7.5px;
  width: 194px;
  align-self: end;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  align-self: start;
}

.content__accent {
  color: #545050;
}

.more-button {
  padding: 7.5px;
  width: 100%;
}
